body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #ffffff;
}

/*Selection texte*/
*::selection {
    background-color: #00c9b6;
}

/*Texte*/
h1 {
    text-align: center;
}

p {
    text-align: center;
    color: #d70000;
}

/*Animation*/
@keyframes animation {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/*Table*/
table {
    opacity: 0;
    transform: translateZ(100px);
    animation: animation 1s ease forwards;
    width: 50%;
    border-collapse: collapse;
    margin: 0 auto;
    max-width: 1000px;
    background-color: #181818;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

td {
    text-align: left;
    padding: 1rem;
    font-size: 1.5rem;
    border-bottom: 1px solid #303030;
}

tr:hover {
    background-color: #262626;
}

/*Boutons pour la pagination du classement*/
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination a,
.pagination .current {
    display: inline-block;
    padding: 5px 10px;
    margin: 0 5px;
    color: #fff;
    background-color: #333;
    border-radius: 5px;
    text-decoration: none;
}

.pagination .current {
    background-color: #00fff7;
}


/*Boutons pour la page index.html*/
.button {
    text-decoration: none;
    color: #f9f9f9;
    background-color: #1fccd6;
    font-size: 20px;
    border: 1px solid #000000;
    border-radius: 13px;
    padding: 15px 50px;
    cursor: pointer;
    margin-left: 20px;
}
.button:hover {
    color: #ffffff;
    background-color: #176c72;
}

.button2 {
    text-decoration: none;
    color: #f9f9f9;
    background-color: #e15f00;
    font-size: 20px;
    border: 1px solid #000000;
    border-radius: 13px;
    padding: 15px 50px;
    cursor: pointer;
    margin-right: 20px;
}
.button2:hover {
    color: #ffffff;
    background-color: #832f03;
}

/*Centrer les boutons*/
.centre {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}